.logo-system-container {
  background-color: #ffffff;
  border-radius: 9999px; /* rounded-full */
  padding: 0.5rem; /* p-2 */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* shadow-md */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 250px;
  overflow: hidden;
}

.logo-system-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
