/* Cards de Laboratório */
.lab-card {
  background-color: #fff;
  border-radius: 0.75rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* garante espaçamento */
  height: 100%;
  transition: box-shadow 0.2s;
}
.lab-card:hover {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
.lab-card-image-container {
  height: 12rem;
  background: #e5e7eb;
  position: relative;
}
.lab-card-image,
.lab-card-image-placeholder {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.lab-card-image-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.6), transparent);
  padding: 1rem;
}
.lab-card-title {
  font-size: 1.25rem;
  font-weight: 700;
  color: #fff;
}
.lab-card-details-content {
  margin: 10px 5px;
}

.lab-card-details {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  flex: 1;
}
.lab-card-detail-row {
  display: flex;
  align-items: center;
  font-size: 0.875rem;
  color: #4b5563;
}
.lab-card-icon {
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 0.5rem;
}
.lab-card-description {
  font-size: 0.875rem;
  color: #6b7280;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 1.625;
}

.lab-card-button {
  margin-top: auto; /* empurra o botão para o rodapé */
  width: 100%;
  padding: 0.625rem 1rem;
  border: none;
  border-radius: 0.5rem;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-header);
  color: var(--text-header);
  transition: background-color 0.2s;
}
.lab-card-button:hover {
  background-color: var(--bg-header-hover);
}
